
body {
     background-color: blue;
    }
  #welcome {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  };

  #thanks {
      display: none;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
  };

